@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
    }
}

@import "variabiles.scss";

@import "animate.scss";
@import "fonts";
@import "reset.scss";
@import "header.scss";
@import "about.scss";
@import "consultation.scss";
@import "quote.scss";
@import "topics.scss";
@import "psycho.scss";
@import "callback.scss";
@import "callback_modal.scss";
@import "preloader.scss";


body {
	background-color: $bgcolor;
	&.show_modal {
		overflow: hidden;
	}
}