/*FONTS*/
$Helvetica: 'Helvetica';
$Playfair: 'PlayfairItalic';
$PlayfairN: 'PlayfairDisplay';

/*COLORS*/
$maincolor: #4F4F4F;
$bgcolor: #F3F2F0;
$bgtopic: #80929A;
$plus: #FBFAF9;

$hover: #8C8C8C;
$active: #BFBFBF;

$placeholder: #B9C2C5;
$input: #E5E5E5;

$pressed: #94A8AF;